# ignore all singularity image file, they are huge binaries!
cmaq*.img
cmaq*.img.bak*
cmaq*.img.orig*

# compiler generated
ioapi/bin/

# ignore these sym links, applicable mostly only in bofh
pgi_netcdf.def
cmaq.def
singularity
singularity26


